# See https://fly.io/docs/app-guides/continuous-deployment-with-github-actions/

name: Fly Deploy
on:
  workflow_run:
    workflows: ["Django CI"]
    branches: [master]
    types:
      - completed

jobs:
  deploy:
    name: Deploy app
    runs-on: ubuntu-latest
    # Only deploy if the CI workflow succeeded
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    concurrency: deploy-group
    steps:
      - uses: actions/checkout@v4
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: echo "$FLY_CONFIG" > fly.toml
        env:
          FLY_CONFIG: ${{ secrets.FLY_CONFIG }}
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
